body,html{
		width: 100%;
		height: 100%;
		overflow: hidden;
		margin: 0;
		padding:0;
		box-sizing: border-box;
		--bg1:rgba(-68, -51, 255,0.5);
		--bg2:#E585e6;
		--bg3:rgba(180, 51, 190,0.3);
		--bg4:rgba(218, 51, 190,0.2);
	}
	a{
		text-decoration: none;
	}